.nav-tabs a:hover {
    color: #FFFFFF;
    border-radius: 0px;
}
.nav-tabs {
    color: Grey;
    border-radius: 0px;
}
.nav {
	margin-top: 80px;
}
h1 {
	font-family: Camp;
	position: absolute;
	color: #8E9A9E;
	left: 45%;
	top: 0;
}

