.myCarousel {
	display: inline-flex;
}

.myCarousel2 {
	display: inline-flex;
}
.myCarousel3 {
	display: inline-flex;
}
.nav-tabs a:hover {
    color: #FFFFFF;
    border-radius: 0px;
}
.nav-tabs {
    color: Grey;
    border-radius: 0px;
}

